{% extends "layout.html" %}
{% block content %}

    <div>
        <div class="container">
            <div style="margin-bottom: 10px" class="clearfix">
                <a class="btn btn-success" href="/prettynum/add/">新增靓号(modelForm版)</a>
                <div style="float:right;width: 300px">
                    <form action="">
                        <div class="input-group">
                                <input type="text" name="q" class="form-control" placeholder="Search for..." value="{{ search_data }}">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
                                </span>

                        </div><!-- /input-group -->
                    </form>
                </div>

            </div>

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading ">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true" style="margin-right: 4px"></span>靓号列表
                </div>

                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>靓号号码</th>
                        <th>价格</th>
                        <th>等级</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in context.querySet %}
                        <tr>
                            <th scope="row">{{ obj.id }}</th>
                            <td>{{ obj.mobile }}</td>
                            <td>{{ obj.price }}</td>
                            <td>{{ obj.get_level_display }}</td>
                            <td>{{ obj.get_status_display }}</td>

                            <td>
                                <a href="/prettynum/{{ obj.id }}/edit/" class="btn btn-primary btn-xs">编辑</a>
                                <a href="/prettynum/{{ obj.id }}/delete/" class="btn btn-danger btn-xs">删除</a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>
                <ul class="pagination">
                    {{ context.page_string }}
                </ul>

        </div>
    </div>

{% endblock %}