{% extends "layout.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap-datepicker.css' %}">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">新增用户</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="post">
                        {% csrf_token %}
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="标题" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="password" placeholder="输入密码" name="password">
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="age" class="col-sm-2 control-label">年龄</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="age" placeholder="年龄" name="age">
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="gender" class="col-sm-2 control-label">性别</label>
                         <div class="col-sm-10">
                             <select class="form-control" name="gender">
                                {% for item in gender_choices %}
                                     <option value="{{ item.0 }}" >{{ item.1 }}</option>
                                {% endfor %}
                            </select>
                         </div>
                    </div>
                    <div class="form-group">
                        <label for="account" class="col-sm-2 control-label">账户余额</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="account" placeholder="账户余额" name="account">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="create_time" class="col-sm-2 control-label">入职时间</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control dt" id="create_time" placeholder="入职时间" name="create_time">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="depart" class="col-sm-2 control-label">所属部门</label>
                        <div class="col-sm-10">
                             <select class="form-control" name="dp">
                                 {% for item in depart_list %}
                                     <option value="{{ item.id }}" >{{ item.title }}</option>
                                 {% endfor %}
                            </select>
                         </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}

{% block js %}
    <script src="{% static '/plugins/bootstrap-3.4.1/js/bootstrap-datepicker.js'%}"></script>
    <script src="{% static '/plugins/bootstrap-3.4.1/js/bootstrap-datepicker.zh-CN.min.js'%}"></script>
    <script>
    $(function () {
        $('.dt').datepicker({
            format: 'yyyy-mm-dd',
            startDate: '0',
            language: "zh-CN",
            autoclose: true
        });

    })
</script>
{% endblock %}